body{
    background-color: #f0f0f0;
    font-family: 'Abel', sans-serif;
}
.container {
    max-width: 1000px;
}
li{
    color: black;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
}
h1{
    font-size: 4em;
}
h2{
    font-size:48px ;
}
h3{
    font-size:40px ;
}
h4{
    font-size:32px ;
}
h5{
    font-size:28px ;
    margin: 0;
}
.big_text{
    font-size: 20px;
}
.medium_text{
    font-size: 17px;
}
img {
    width: 100%;
    border: 7px solid #E6E6E6;
    border-radius: 3px;
}
p {
    margin-bottom: 2.5em;
}
hr{
    border: 1px solid #cecece;
}
#white_background ul{
    padding-top: 30px;
}
#move_img{
    border: 0;
    position: absolute;
    top: -4.5em;
    right: -20%;
}
#logo_pic{
    /*width: 105px;*/
    /*height: 105px;*/
    width: 100%;
    max-width: 192px;
    position: absolute;
    top: -10em;
    border: none;
}
#white_background{
    background-color: white;
    color: white;
    height: 6em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
#gray_background{
    color: #f0f0f0;
}
.h3_font{
    font-family: 'Abel', sans-serif;
    margin-top: .5em;
    margin-bottom: .5em;
    padding-top: 30px;
    color: black;
}
.separator {
    margin-bottom: 3em;
}
.circle {
    border: 10px solid white;
    border-radius: 50%;
    color: white;
    width: 40vw;
    height: 40vw;
    margin-bottom: 1em;
    position: relative;
    padding-top: 15vw ;
    font-size: 7vw;
}
.small-circle {
    border-radius: 50%;
    height: 6vw;
    width: 6vw;
    padding: 1.2vw 0;
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
    margin-right: .5em;
}
@media screen and (min-width: 768px) {
    .circle {
        width: 13rem;
        height: 13rem;
        font-size: 23px;
        padding-top: 44px;
    }
    .small-circle {
        height: 1.75em;
        width: 1.75em;
        font-size: 14px;
        padding: .3em 0;
    }
}


.red {
    background: #E6563B;
}
.orange {
    background: #EB9D3A;
}
.green {
    background: #7CD06C;
}
.teal {
    background: #00ABA9;
}
.circle>h4 {
    padding-top: 65px;
    padding-bottom:65px;
}
.extra-margin {
    margin: 6em;
}
.some-margin{
    margin: 2.5em;
}
#codeup_header{
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 3.5em;
}
#med_logo_img{
    border: none;
    width: 275%;
    position: relative;
    top: -25px;
    left: 35px;
}
#small_pics img{
    border: 0;
    padding: 0 5px 0 0;
    width: 70px;
    height: 70px;
}
#small_pics div{
    border: 0;
    padding: 0;
}
#small_pics .row{
    margin-bottom: 40px;
}
#twitter img{
    width: 100%;
    height: initial;
}
#small_pics p {
    padding-bottom: 0;
    margin: 0;
}
